<h1>Tipos de Cambio Registrados</h1>
<hr>

<table id="users">
  <tr>
    <th *ngFor = "let column of columns">
      {{column.name}}
    </th>
  </tr>

  <tr *ngFor = "let row of rows" (click)="select(row)">
    <td *ngFor = "let column of columns">
      {{row[column.property]}}
    </td>
  </tr>
</table>

<hr>
<div class="container">
  <div class="text-center">
    <button class="btn btn-warning mr-1" (click)="holi()">Autenticar</button>
  </div>
</div>
<app-change-money [exchangeSelected] = exchangeSelected></app-change-money>


<router-outlet></router-outlet>
